<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <link href='http://fonts.googleapis.com/css?family=lato:100,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
  </head>
<!-- ============================================================================================= -->
  <body>
        <div class="container">
            <div class="row" style='background-color:#F9F9F9; font-family:HelveticaNeue-Light' >
                        <div class="col-md-5 text-left text-uppercase">
                    <h1 class="title-super text-thin">World Literature</h1>
                    <h4>A catalog of the world literary heritage</h4>
                </div>
                <div class="col-md-7 text-right"><h3>
                	{% if 'username' not in login_session %}
    					<a href="{{url_for('showLogin')}}">Login</a>
    				{% else %}
   					 	<a href="{{url_for('gdisconnect')}}">Logout</a>

					{% endif %}
                </h3></div>
            </div>

<!-- ============================================================================================= -->

		            <div class="row">
                <div class="col-md-12">
                    <hr>
                    <h3><a href='http://localhost:8000/language/'>Home</a></h3>
                </div>
            </div>


<!-- ============================================================================================= -->
            <div class="row text-left">
                <div class="col-md-2">
              
                    {% block left %}
                    {% endblock left %}

                </div>

                <div class="col-md-10">
                           

                    {% block content %}{% endblock content %}                    	
                                        	


                </div>
            

        </div>




</body>
</html>
