{% extends 'base.html' %}
{% block content %}
<h1> New Work: </h1>

<form action="{{url_for('newWork', language_id=language_id )}}" method = 'POST'>

<p>Title:</p>

<input type='text' size='30' name='title'>
<p>Author:</p>

<input type='text' size='30' name='author'>
<p>Translator:</p>

<input type='text' size='30' name='translator'>
<p>Translation Year:</p>

<input type='text' size='30' name='year'>
<p>Genre:
<p>
<input type="radio" name="genre" id="course1" value="Novel">Novel</br>
<input type="radio" name="genre" id="course1" value="Short StorY Collection">Short StorY Collection</br>
<input type="radio" name="genre" id="course1" value="Tales">Tales</br>
<input type="radio" name="genre" id="course1" value="Poetry">Poetry</br>
<input type="radio" name="genre" id="course1" value="Other">Other</br>

<p>Amazon Link:</p>

<input type='text' size='30' name='link'>
<p>Summary:</p>

<input type='text' size='30' name='summary'>

<input type='submit' value='Create'>

		

</form>
{% endblock content %}
